


body{
  background-color: rgb(255, 253, 253);
  color: white;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  
  width: 100%;
  justify-content: center;
  
  gap: 10px;
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px black;
  align-items: center;
  gap: 10px;
  color: black;
  background-color: floralwhite;
  border-radius: 20px;
  border: 2px solid;
  border-color: floralwhite;
}
.card:hover{
  border-color: aqua;
}

.btn{
  background-color: gray;
  
}
.btn:hover{
  background-color: aquamarine;
}